<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }} <i class="fas fa-code"></i></h1>
        </a>
        <h2 class="subtitle-header">{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button button-header"><small>View us on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button button-header"><small>Follow us on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar" class="list-sidebar-item">
          <div class="sidebar-item">
            <p class="sidebar-item-title">Quicklink</p>
            <div class="sidebar-item-content">
              <p><a href="#item-1"><i class="fas fa-link"></i> This is item 1</a></p>
              <p><a href="#item-2"><i class="fas fa-link"></i> This is item 2</a></p>
              <p><a href="#item-3"><i class="fas fa-link"></i> This is item 3</a></p>
              <p><a href="#item-4"><i class="fas fa-link"></i> This is item 4</a></p>
            </div>
          </div>
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}
          
          <p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.author_profile_link }}">{{ site.author }}</a></p>
          {% if site.show_github %}
          <p class="copyright">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
          {% endif %}
        </aside>
      </div>
    </div>

    <footer>
      <div class="inner">
        <section class="footer-left">
          <a href="{{ '/' | absolute_url }}">
            <h1>{{ site.title | default: site.github.repository_name }} <i class="fas fa-code"></i></h1>
          </a>
          <p>Magenta is a Magento 2-focused page created by the Magenta team. This is a personal project primarily aimed at honing our skills and gaining more experience working with Magento 2.</p>
          <p>When you visit our website, you'll see various plugins that can enhance your store's functionality or improve the user experience. If you see any plugins that interest you, feel free to email us at <a href="mailto:support@magenta.io">support@magenta.io</a> for more information.</p>
          <p class="social-group">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github-square"></i>
          </p>
        </section>
        <section class="footer-right">
        </section>
      </div>
    </footer>

  </body>
</html>
